@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .f-50{
    font-size: 50px;
  }


  .f-16{
    font-size: 16px;
  }
  .f-14{
    font-size: 14px;
  }
  .f-20{
    font-size: 20px;
  }

  /* .f-20-rem{
    font-size: 20rem;
  }
  .f-16-rem{
    font-size: 16rem;
  }
  .f-14-rem{
    font-size: 14rem;
  } */

  .c-red{
    color: red;
  }

  .grey-bg-color{
    background-color: #f3f4f6;
  }
  .top-margin{
    margin-top: 100px;
  }
  /* .brudcrum{
    position: sticky;
    top: 120px;
    z-index: 1000;
  } */